.header {
  padding: 92px 50px 96px 50px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  gap: 32px;
}

.header__links-list-item {
  list-style: circle;
}

.header__logo {
  display: block;
  width: 148px;
}

.address {
  max-width: 240px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header__address {
  justify-self: end;
}

.cover {
  margin-bottom: 180px;
  padding: 165px 50px 50px 50px;
  background-image: url(/images/cover.jpg);
  position: relative;
  background-size: cover;
  background-position: center;
  min-height: 757px;
  color: #FFFFFF;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: 1;
}

.cover-title {
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15;
  text-transform: uppercase;
  z-index: 2;
  position: relative;
  margin-bottom: 146px;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  font-size: 22px;
  align-items: center;
}

.cover__description-text {
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18.557px;
}

.bet-button {
  color: #FFFFFF;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  padding: 12px 32px 11px 31px;
}

.lots {
  width: 1052px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120px;
}

.lots__heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
  margin-left: 40px;
  margin-bottom: 30px;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
}

.lots__card-list-item {
  list-style: none;
  width: 334px;
  min-height: 596px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  color: #FFFFFF;
  padding: 48px 40px;
  justify-content: space-between;
}

.card__title {
  position: relative;
  z-index: 2;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

.card__text {
  position: relative;
  z-index: 2;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}

.card_type_film {
  background-image: url(/images/card-lot-01.jpg);
  background-size: cover;
  background-position: center;
}

.card_type_book {
  background-image: url(/images/card-lot-02.jpg);
  background-size: cover;
  background-position: center;

}

.card_type_picture {
  background-image: url(/images/card-lot-03.jpg);
  background-size: cover;
  background-position: center;
}

.lots__look-more-link {
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
  display: inline-block;
  margin-left: 40px;
  margin-top: 30px;
}

.about {
  margin-bottom: 180px;
  display: grid;
  grid-template-columns: 334px 1fr;
  width: 1052px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 35px;
}

.about__column {
  justify-self: center;
}

.about__column:last-child {
  margin-top: 98px;
  margin-left: 25px;
}

.about__logo {
  background-color: #000000;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.about__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer {
  padding: 0 50px 82px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.footer__menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__social-list {
  list-style: none;
  display: flex;
  gap: 48px;
  justify-content: end;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}