.header {
  padding: 92px 50px 96px 50px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  gap: 32px;
}

.header__links-list-item {
  list-style: circle;
}

.header__logo {
  display: block;
  width: 148px;
}

.address {
  max-width: 240px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header__address {
  justify-self: end;
}

.cover {
  margin-bottom: 180px;
  padding: 165px 50px 50px 50px;
  background-image: url(/images/cover.jpg);
  position: relative;
  background-size: cover;
  background-position: center;
  min-height: 757px;
  color: #FFFFFF;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: 1;
}

.cover-title {
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15;
  text-transform: uppercase;
  z-index: 2;
  position: relative;
  margin-bottom: 146px;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  font-size: 22px;
  align-items: center;
}

.cover__description-text {
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18.557px;
}

.bet-button {
  color: #FFFFFF;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  padding: 12px 32px 11px 31px;
}

.lots {
  margin-bottom: 120px;
}

.lots-card-item-link {
  display: block;
}

.card-bg-movie {
  background-image: url(/images/card-lot-01.jpg);
}

.card-bg-book {
  background-image: url(/images/card-lot-02.jpg);
}

.card-bg-picture {
  background-image: url(/images/card-lot-03.jpg);
}

.about {
  margin-bottom: 180px;
}

.footer {
  padding: 0 50px 82px;
}